
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            <h2>DANH SACH NGUOI DUNG</h2>
            <p><a class="btn btn-primary" href="/">ADD USER</a></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>FullName</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NoNV</td>
                        <td>NoNV123</td>
                        <td>Nguyen Van No</td>
                        <td>22</td>
                        <td> <span>Nam</span> </td>
                        <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                         <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
                    </tr>
                    <tr>
                        <td>ThongCB</td>
                        <td>2222222</td>
                        <td>Chau Ba Thong</td>
                        <td>33</td>
                        <td> <span>Nam</span> </td>
                        <td><a class="btn btn-primary btn-sm" href="/edit/ThongCB">Edit</a> |
                         <a class="btn btn-danger btn-sm" href="/delete/ThongCB">Del</a></td>
                    </tr>
                    <tr>
                        <td>namnv.st</td>
                        <td>55555</td>
                        <td>Nguyen Hai Nam</td>
                        <td>30</td>
                        <td> <span>Nam</span> </td>
                        <td><a class="btn btn-primary btn-sm" href="/edit/namnv.st">Edit</a> |
                         <a class="btn btn-danger btn-sm" href="/delete/namnv.st">Del</a></td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>55555</td>
                        <td>Admin Da Nang</td>
                        <td>33</td>
                        <td> <span>Nam</span> </td>
                        <td><a class="btn btn-primary btn-sm" href="/edit/admin">Edit</a> |
                         <a class="btn btn-danger btn-sm" href="/delete/admin">Del</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </body>
</html>
